# Node modules
node_modules/

# Build outputs
build/
.next/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
*.log



# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db
