
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: notesdb
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - mern-net

  nodejs:
    build:
      context: ./backend       
      dockerfile: Dockerfile 
    image: smoothcoode/mernbackend #Change this to your username/imagename
    container_name: nodeapp
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - MONGO_HOST=mongodb 

    depends_on:
      - mongodb
    networks:
      - mern-net

  frontend:
    build:
      context: ./frontend
    image: smoothcoode/mernfrontend #Change this to your username/imagename
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - mern-net
    depends_on:
      - nodejs

volumes:
  mongo-data:

networks:
  mern-net:
    driver: bridge
